*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    width: 300px;
    height: 550px;
    background-color: aliceblue;
}

input[id="modal"] {
    display: none;
}

.openBtn{
    background-color: pink;
    border: 3px #000 solid;
    border-radius: 90px;
    padding: 20px;
    display: block; /*width height 값 주려고 먹임*/
    width: 90px;
    height: 90px;
    text-align: center;
    align-items: center;
    display: flex;
    font-weight: 900;
    margin-left: 100px;
    margin-bottom: 10px;
}

.modalBox{
    width: 280px;
    height: 270px;
    background-color: yellow;
    border: 3px #000 solid;
    border-radius: 10px;
    position: relative;
    visibility: hidden;
}

.closeBtn{
    width: 80px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: aliceblue;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-left: 3px #000 solid;
    border-bottom: 3px #000 solid;
}

h2{
    text-align: center;
    margin-right: 60px;
}

/* 모달 윈도우가 팝업되는 코어 소스 */
input#modal[type=checkbox]:checked~.modalBox {
    visibility: visible;
}